body{
	padding: 0px;
	margin: 0px;
	/*background-color: #EFF7F3;*/
	    max-width: 100%; 
    overflow-x: hidden; 
}     

                                       
.container-mobile{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	padding: 0px;	
	color: white;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	padding: 0px;
   
}
.header__top-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
	font-weight: 700;
}
.menu__btn{
	display: none;
}

.menu-list{
	display: flex;
	justify-content: space-between;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	

}
.menu-list a{
/*	font-family: Intro Rust H2;*/
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 62px;
color: #103D2A;
display: inline-block;

text-decoration: none;

}
.menu-list_second{
	position: relative;
}
.menu-item + .menu-item{
	padding-left: 70px;
}
.menu-list :before{
	content: '';
	position: absolute;
	width: 495px;
	height: 1px;
	top: 70px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background: #D8E1DD;

}

.menu-list_second :before{
	content: '';
	position: absolute;
	width: 485px;
	height: 1px;
	top: 70px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background: #D8E1DD;

}
/**/



.seven-beauty .best_materials-item +.best_materials-item{
	margin-top: 20px;
}


.tabs-links{
	position: absolute;
    top: 74%;
    left: -173px;
    z-index: 2;
}

.tabs_top-cifry{
	text-align: center;
}



.seven-beauty_wrapper{
	background-color: white;
}

.container_top{
	width: 1200px;
	background-color: red;
	display: flex;

}


/*пошла верстка навигационного меню */
header{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

}

header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	background-color: green;*/
	z-index: 3;
}

.header_body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header_list{
display: flex;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    width: 1200px;
    margin: 0px;
    padding: 0px;
    margin-top: 69px;
}
.header_list li{
	list-style: none;

}



.header_link{
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.header_logo {
flex: 0 0 60px;
position: relative;
z-index: 3;
}

.header_logo img{
	width: 150px;
}
.content {
	padding: 300px 0 0 0 ;
	color: white;

}
.content_text{
	font-size: 14px;
	line-height: 25px;
}
.content_text p{
	margin: 0 0 20px 0;
}

.wrapper{
	background-image: url(image/header-bg.png);
	background-color: green;
	background-size: cover;
	background-repeat: no-repeat;
    height: 800px;
}





























/*дальше мой новый код*/



.container-mobile{
	padding-top: 45px;
}


.container{

}
.content{
	display: flex;
	justify-content: space-between;
}
.right__social img{
	flex-direction: column;
	width: 60px;
	height: auto;
}

.right__social{
flex-direction: column;
display: flex;
    justify-content: space-around;
    left: 60px;
    position: relative;
}



.center-content h1{
	font-size: 96px;
	font-weight: bold;
	position: relative;
    text-transform: uppercase;
    left: -25px;
}
.center-content__top{
	font-size: 12px;
	position: relative;
	font-weight: 700;
display: flex;
justify-content: center;
    position: relative;
    letter-spacing: 5px;

}

.left-content{
	margin-left: -120px;
}

.tabs__top{

	display: flex;
	justify-content: center;
}

.tabs__top a{
	width: 200px;
	/*background-color: #E8C300;*/
	padding-top: 15px;
	margin: 25px;
	height: 60px;
	text-align: center;
	color: white;
	border-radius: 6px;
	border: 1px solid white; /* Параметры границы */
	text-decoration: none;
}
.center-content__top:before{
	content: "";
	position: absolute;
	width: 64px;
	height: 5px;
	left: 46%;
    top: 140px;
	border-radius: 10px;
	background-color: #E8C300;

}
.tabs__top a:hover{
	background-color: #E8C300;

}
.header_menu a{
	text-decoration: none;
}
.header_menu ul li a:hover{
	color: #E8C300;
}
.features{
	margin-top: 150px;
}
.features__wrapper{
	display: flex;
	justify-content: space-between;
	
}
.features{

}
.left-content1 h2{
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 185px;
	font-weight: 400;
	padding-bottom: 35px;
}
.first__features{
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	font-weight: 700;

}
.left-content1{
	width: 580px;
}

.left-content1 p{
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	position: relative;
}
.first__features:before{
		content: "";
	position: absolute;
	width: 64px;
	height: 5px;
	left: 45%;
    top: -20px;
	border-radius: 10px;
	background-color: #E8C300;
}

.right-content1{
	position: relative;
}
.right-content1:before{
			content: "";
	position: absolute;
    width: 450px;
    height: 450px;
    top: 44px;
    right: -171px;
    background-size: cover;
	
	background-image: url(image/Group.svg);
}

.wrapper__cheff{
	display: flex;
	justify-content: space-between;
}
.master__chef{
	background-image: url(image/dfghjdfjhjsfdg.png);
}
.wrapper__cheff .left-content1 {
	color: white;
}

.left__content2{
	position: relative;
}

.left__content2:before{
				content: "";
	position: absolute;
    width: 450px;
    height: 450px;
    top: 44px;
    left: -177px;
    background-size: cover;
	
	background-image: url(image/Group.svg);
}

.wrapper__table{
	margin-top: 200px;
}

.left__content3__inner{
	display: flex;
	justify-content: space-between;
}


.left__content3{
	width: 570px;

	display: flex;
    justify-content: space-between;
   
}

#ui-datepicker-div{
	background-color: silver;
	width: 220px;
	    font-family: 'Open Sans';
    color: #737272;
   font-size: 24px;
    line-height: 30px;
	

}
 input[type=text] {
    height: 65px;
    border: 1px solid #f1f1f1;
    padding: 0 13px;
    font-family: 'Open Sans';
    color: #737272;
    font-size: 14px;
    width: 280px;
    background-color: #E5E5E5;;
    border-radius: 5px;
}

.left__content3 h3{

	margin: 0 auto;
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
	margin-bottom: 50px;
	text-transform: uppercase;
	position: relative;
}
.left__content3 h3:before{
	content: "";
	position: absolute;
	width: 64px;
	height: 5px;
	left: 35%;
    top: 72px;
	border-radius: 10px;
	background-color: #E8C300;
}

.tabs__top-second{
	background-color: #E8C300;
}
.tabs__top-second__bottom{
	width: 570px;

}

.tabs__top-second__bottom .tabs__top-second{
	width: 100%;
	margin: 0;
}
.left__content3-true__wrapper{
	position: relative;
}
.left__content3-true__wrapper:before{
					content: "";
	position: absolute;
   width: 520px;
    height: 520px;
    top: -50px;

    right: 0;
    background-size: cover;
	
	background-image: url(image/about-imasag.png);
}
.left__content3-true__wrapper:after{
					content: "";
	position: absolute;
    width: 450px;
    height: 450px;
    top: -18px;
    right: -165px;

    background-size: cover;
	
	background-image: url(image/Group.svg);
}




.features__chocolate{
	background-image: url(image/specialtys-aaabg.png);
	margin-top: 200px;
height: 675px;
	background-repeat: no-repeat;
	background-size: cover;

}

.features__chocolate .left__content2{
	margin-top: 110px;
}

.features__chocolate .left__content2:before{
	top: 9px;
    left: -223px;
}

.top__menu-rest {


	position: relative;
	width: 545px;
	margin: 0 auto;

}
.menu__rest{
	margin-top: 100px;
}

.top__menu-rest h2{
	margin: 0 auto;
	display: flex;
    justify-content: center;
    padding-bottom: 45px;
    position: relative;
    font-size: 36px;
}
.top__menu-rest p{
	display: flex;
	justify-content:center;
	text-align: center;
	font-size: 18px;
	font-weight: 700;

}
.top__menu-rest h2:before{
		content: "";
	position: absolute;
	width: 64px;
	height: 5px;
	left: 45%;
    top: 60px;
	border-radius: 10px;
	background-color: #E8C300;
}

/*табы из интернета*/
    .tabs {
      margin-top: 70px;
   
      margin-left: auto;
      margin-right: auto;
    }
    .menu__wrapper{

    }

    .tabs>input[type="radio"] {
      display: none;
    }

    .tabs>input[type="radio"]:checked+label {
      font-weight: bold;
      cursor: default;
    }

    .tabs>div {
      display: none;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }

    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3 {
      display: block;
    }

    .tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      padding: 2px 0;
      font-size: 14px;
      line-height: 1.5;
      transition: color 0.15s ease-in-out;
      margin-left: 6px;
      cursor: pointer;
    }

    .tabs>label:first-of-type {
      margin-left: 0;
    }

.menu__item span{
	padding-left: 55px;
}
.menu__item p{
	font-size: 12px;
}
.menu__item{
	font-size: 18px;
}
.menu__wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.tabs label{
	width: 122px;
    display: inline-block;
    margin-right: 134px;
    margin-left: 134px!important;
}


.right__gallery img{
		background-size: cover;
		margin-top: 20%;
	background-repeat: no-repeat;
}
.left__gallery img{
	background-size: cover;
	margin-top: 20%;
	background-repeat: no-repeat;
}
.gallery__wrappper{
	display: flex;
	justify-content: space-between;
}

.gallery{
	margin-top: 250px;
	height: 677px;
	width: auto;
	background-image: url(image/zxzxxzzxg.png);
		background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 500px;
}

.gallery__bottom{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}
.gallery__bottom img{
	width: 467px;
	margin-top: 100px;
	height: auto;
	overflow:hidden;
}



.gallery__bottom img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.gallery__bottom img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }






.right__social img{
	 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}

.right__social img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.form__wrapper{
	display: flex;
	justify-content: space-between;
}
.form__wrapper input {
	width: 395px;
	height: 60px;
}

.form__message input{
	width: 100%;
	height: 120px;
}

.form__message .tabs__top-second__bottom .tabs__top a{
	width: 100%;
}


.form__message{
	width: 100%;
	position: relative;
}

.form__message a{
		width: 100%;
		height: 60px;
    text-align: center;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    text-decoration: none;
    padding-top: 15px;
   background-color: #E8C300;
   display: flex;
   justify-content: center;
   margin-top: 19px;

}
.form__message-top input{
	width: 100%;
	height: 120px;
}
.contact__form{
	margin-bottom: 150px;
}




























/*медиа запросы*/
@media (max-width: 767px){

	body.lock{
		overflow: hidden;
	}
	header{
		position: fixed;
	}
	.header_body{
		width: 100%;
    margin: 0px;
    height: 55px;
    background: #E9C46A;
    padding: 0px;
    position: relative;
	}
	.header_body:before{
				content: '';
		position: absolute;
		background-image: url(image/basasddsa.svg);
width: 67px;
    height: 67px;
    left: -6px; 
		transition: all 0.3s ease 0s;
		z-index: 0;
    background-size: cover;
    top: -2px;
	}
	.header_burger{
		/*был дисплей блок*/
		display: block;
		position: relative;
		width: 13px;
		height: 14px;
		position: relative;
		z-index: 3;
		margin-left: 19px;
	}

	.header_burger:before,
	.header_burger:after{
		content: '';
		position: absolute;
		background-color: #32AB77;
		width: 17px;
		height: 2px;
		left: 0px;  
		transition: all 0.3s ease 0s;
	}
	.header_second:before{
    content: '';
    position: absolute;
    background-color: transparent;
width: 50px;
    height: 50px;
    background-size: cover;
    left: 40%;
    top: 2px;
    z-index: 2;
    background-image: url(image/Vector.png);
	}
	.header_second:after{
content: '';
    position: absolute;
    background-color: transparent;
    width: 12px;
    height: 12px;
    background-size: cover;
    background-image: url(image/Vectorcalll.svg);
    right: 14px;
    padding: 10px;
    bottom: 12px;
    border-radius: 58px;
    background-size: cover;
    background-color: white;
    padding: 15px;

	}


	.header_burger span{
		position: absolute;
		background-color: #32AB77;
		left: 0;
		width:17px;
		height: 2px;
		top: 6px;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before{
		top: 0;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 10px;

	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom: 2px;
	}
	.header_burger.active span{
	transform: scale(0);	
	}

     .header_list{
     	display: block;
     }
     .header_list li{
     	margin: 0 0 20px 0px;
     	padding: 0px;
     }
	.header_menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 75%;
		height: 100%;
		background: #EFF7F3;
box-shadow: 0px 15px 60px rgba(48, 171, 119, 0.15);
		z-index: 2;
		padding: 40px 10px 20px 16px;
		transition: all 0.3s ease 0s;
		overflow: auto;

	}
	.header_menu.active{
		top: 0;
	}
    .header_logo{
    	display: none;
    }
    .header_bottom{
	display: none;
}
/*дальше мой новый код*/

.container-mobile{
	margin-top: 0px;
}
.container-mobile{
	padding-top: 0px;
}




.content{
	flex-direction: column;
	padding-top: 115px;
}
.left-content{
	margin-left: 0;
	margin: 0 auto;
}
.center-content__top{
	margin-top: 20px;
}

.center-content h1{
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  font-size: 74px;
}
.right__social {
    flex-direction: revert;
    display: flex;
    justify-content: space-around;
 left: 0;
    margin-top: 315px;
   
    }

.features__wrapper{
	flex-direction: column;
}
.left-content1 {
    width: auto;
    padding: 20px;
    }
    .right-content1:before{
 width: 170px;
    height: 170px;
    top: 138px;
    right: -22px;
    }
    .right-content1 img{
    	width: 100%;
    }
    .left-content1 h2{
    	padding-top: 0px;
    }
    .master__chef{
    	background-repeat: no-repeat;
    }
.wrapper__cheff{
	flex-direction: column-reverse;
}
.left__content2 img{
	width: 100%;
}


.left__content2:before{
width: 170px;
    height: 170px;
    top: 120px;
    left: -17px;

}

.wrapper__table {
    margin-top: 75px;
}
.left__content3{
	width: 90%;
	margin: 0 auto;
}
.left__content3-true__wrapper:before{
	display: none;
}
.left__content3-true__wrapper:after{
	display: none;
}
.tabs__top-second__bottom{
	width: 100%;
}
.left__content3 input{
	
	
}
.left__content3{
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.left__content3-for__margin{
	margin-top: -10px;
}

.left__content3 input[type=text]{
	width: 320px;
}
.features__chocolate .left__content2:before{
	display: none;
}


.right-content1:before{
	display: none;
	visibility: hidden;
}
.top__menu-rest{
	padding: 20px;
	width: 100%;
}
.menu__wrapper{
	flex-wrap: wrap;
}
.first__menu .menu__item{
	font-size: 12px;
}
.second__menu .menu__item{
	font-size: 12px;
}
.three__menu .menu__item{
	font-size: 12px;
}
.menu__wrapper{
	display: flex;
    justify-content: center;
}
.tabs{
	margin-top: 0px;
}

.top__menu-rest{
	margin-top: -478px;
}

.tabs label{
	margin-left: 0px;
	margin-right: 0px;
	    display: flex;
    margin: 0 auto;
    justify-content: center;	    
}

.tabs>label:first-of-type{
	margin-left: 0;
}
.gallery__wrappper{
	flex-direction: column;
}
.left__gallery img{
	width: 100%;
}
.right__gallery img{
	width: 100%;
}

.gallery__bottom{
	display: none;
}


.top__menu-rest {
   
}

.gallery{
	margin-top: 0px;
}
.form__wrapper{
	flex-direction: column;
}

.form__wrapper input {
    width: auto;

    margin-left: 15px;
    margin-right: 15px;
}

.form__message-top input {
 width: 100%;
    height: 83px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}




.center-content__top:before{
	left: 42%;
}

.gallery{
	height: auto;
}


.features__chocolate{
	height: auto;
}

.menu__rest {
    margin-top: 500px;
}















}




.tabs-links li {list-style: none; display: inline-block; padding: 5px 10px; border: none; cursor: pointer;}
.tabs-content {position: relative}
.tabs-content li {list-style: none;opacity: 0; position: absolute; transition: all 0.1s ease-in; width: 500px;}
.tabs-content li:first-child {opacity: 1;}









.buttons{
	display: none;
}
.container_for-flex-slider{
	margin-top: 0;
}
.wrapper_slider{
	height: 0;
}


/*дальше мой новый код*/


.center-content h1{

}

